basic/03-primeiro_codigo
basic/04-declaracao_variaveis
basic/06-operadores_matematicos
basic/07-incremento_decremento_variaveis
basic/08-inverter_valores_variaveis
basic/10-if_goto
basic/11-and_or_not
basic/12-operador_ternario
basic/13-switch_case
basic/14-while
basic/15-break
basic/16-do_while
basic/17-for
basic/18-array_vector
basic/19-array_matriz
basic/20-jogo_forca
basic/21-argh_main_function
basic/22-functions
basic/23-functions_override
basic/24-funtions_missing_some_args
basic/25_functions_recursive
basic/26_fatorial_fibonacci
basic/27-enum
basic/28-stack_pilha
basic/29-stack_pilha
basic/30-queue_fila
basic/31-list_lista
basic/32-struct
basic/36-pointers
basic/40-printf_scanf
basic/42-vector
basic/43-system
oop/44-POO_1
oop/45-POO_2
oop/46-POO_3
oop/47-POO_4
oop/48-POO_5
oop/64-POO-Classes
oop/65-POO-Encapsulamento
oop/66-POO-Polimorfismo
oop/68-POO-PPP
advanced/39-mslloc
advanced/50-ofstream
advanced/51-ifstream
advanced/52-fstream
advanced/file.out
advanced/53-iterator
advanced/54-try-catch
advanced/55-initiliazation-uniform
advanced/56-auto-register-static
advanced/57-extern
advanced/58-for-range-declaration
advanced/59-lambda-functions
advanced/60-pair
advanced/61-map
advanced/62-smart-pointer
advanced/63-for-each
advanced/63-for_each_ex2
advanced/69-FIND
advanced/70-setlocale
libraries/72-iostream
libraries/73-cstdlib_p1
libraries/74-cstdlib_p2
libraries/75-cstdlib_p3
libraries/76-typeinfo
libraries/77-functional
libraries/78-utility
libraries/79-ctime
libraries/80-chrono
libraries/81-cctype
libraries/82-cstring
libraries/83-cstring_p2
libraries/84-string_p1
libraries/85-string_p2
libraries/86-string_p3
libraries/87-array
libraries/88-vector
libraries/89-list
libraries/90-set
libraries/91-map
libraries/92-stack
libraries/93-queue
libraries/94-deque
libraries/95-algorithm_p1
libraries/96-iterator
libraries/97-algorithm_p2